*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 64px;
    color: #222;
}
h4{
    font-size: 30px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 12px;
    color: #465b52;
}
body{
    width: 100%;
}
#header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    z-index: 999;
    background-color: bisque;
    position: fixed;
    transition: box-shadow 0.3s ease, border-bottom 0.3s ease;
    
}
.logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 18px 0 18px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a:active{
    color:cadetblue;
}
#navbar li a:active::after,
#navbar li a:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: cadetblue;
    bottom: -4px;
    right: 10px;
}
.search-container{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 250px;
}
#search{
    height: 50px;
    border: 2px solid #000000;
    border-radius: 25px;
    padding: 0 40px 0 10px;
    font-size: 16px;
    line-height: 40px;
}
.search-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: gray;
    pointer-events: none;
}
#cart{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cart a{
    text-decoration: none;
    color: rgb(0, 137, 242);
}
.cart-text{
    font-size: 20px;
    font-weight: 300;
    color: rgb(103, 103, 103);
}
#cart a:hover,
#cart a:active{
    color: rgb(255, 0, 0);
}
.hero {
    position: relative; /* Đảm bảo hero không bị ảnh hưởng bởi các phần tử khác */
    height: 120vh; /* Chiều cao chiếm toàn bộ màn hình */
    width: 100%; /* Chiều rộng chiếm toàn bộ màn hình */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1; /* Đảm bảo hero nằm dưới header */
}
#background-video{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index: -1;
}
.content-hero{
    position: relative;
    width: 25%;
    text-align: center;
}
.content-hero h1,h4{
    color: rgb(255, 255, 255);
    font-weight: 150;
    margin-bottom: 15px;
}
.button{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 15px;
}
.button:hover{
    background-color: rgb(160, 223, 23);
    transition: 0.3 ease;
}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: burlywood;
    gap: 30px;
}

.infor{
    width: 30%;
    display: inline-flex;
    flex-direction: column;
    align-items:flex-start;
    text-align:left;
    padding: 40px 20px;
}
#logo-footer {
    width: 80px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}
.contact, .features {
    padding: 60px 20px;

}
.footer h4 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #000;
    font-weight: 400px;
}

.footer p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}
.copyright {
    text-align: center;
    padding: 15px;
    background-color: #deb887;
    font-size: 14px;
    color: #333;
    margin: 0;
}
.logo-footer{
    width: 32px;
    height: 32px;
}
.contact a{
    text-decoration: none;
}